@import 'variable';

$grey-border: #eee;
$grey-text: #aaa;
$black: #000;
$white: #fff;

html {
  font-size: 10px;

  @include lg {
    font-size: 12px;
  }

  @include xl {
    font-size: 14px;
  }
}

body {
  color: $black;
  font-family: $font-family-secondary;
}

.App {
  font-size: 1.8rem;

  @include md {
  }

  @include md {
  }
}
